<div class="container">
  <h1><%= @cocktail.name %></h1>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> | <%= dose.description %>   <%= link_to "🗑", dose_path(dose), class: "btn btn-info", method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
    </ul>
  <%= link_to "Retour à la liste des Cocktails", cocktails_path, class: "btn btn-warning"  %>

</div>
